# CONFIG_DRM is not set
# CONFIG_WLAN is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_RC_MAP is not set
# CONFIG_USB is not set
# CONFIG_USB_NET_DRIVERS is not set
# CONFIG_USB_GADGET is not set
# CONFIG_USB_TYPEC is not set
# CONFIG_CRYPTO_HW is not set
# CONFIG_SOUND is not set
# CONFIG_MD is not set
# CONFIG_IIO is not set
# CONFIG_SPI is not set
# CONFIG_ATA is not set
# CONFIG_NET is not set
# CONFIG_NET_VENDOR_MELLANOX is not set
# CONFIG_NET_VENDOR_BROADCOM is not set
# CONFIG_NET_VENDOR_STMICRO is not set
# CONFIG_NET_VENDOR_QUALCOMM is not set
# CONFIG_NET_VENDOR_ATHEROS is not set
# CONFIG_NET_VENDOR_MICROSEMI is not set
# CONFIG_BTRFS_FS is not set
# CONFIG_CRYPTO_SHA512_ARM64_CE is not set
# CONFIG_CRYPTO_SHA3_ARM64 is not set
# CONFIG_CRYPTO_SM3_ARM64_CE is not set
# CONFIG_CRYPTO_CHACHA20_NEON is not set
# CONFIG_IPMI_SI is not set
# CONFIG_IPMI_HANDLER is not set
# CONFIG_IPMI_DEVICE_INTERFACE is not set
# CONFIG_REGMAP_SLIMBUS is not set
# CONFIG_ACPI_CPPC_CPUFREQ is not set
# CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM is not set
# CONFIG_QCOM_RPROC_COMMON is not set
# CONFIG_FPGA_MGR_STRATIX10_SOC is not set
# CONFIG_INTERCONNECT_QCOM_MSM8916 is not set
